.home_list_container h1 {
  margin: 0px;
  background-color: rgb(214, 232, 249);
  padding: 20px 0px;
  text-align: center;
}

.home_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.home_list_item {
  flex-basis: calc(25% - 20px);
  text-align: center;
  list-style: none;
}

.home_list_item img {
  max-width: 200px;
  padding-bottom: 20px;
}

.movie_title {
  padding-top: 10px;
}
